---
import Layout from "../layouts/Layout.astro";
import VisualGrid from "../components/VisualGrid.astro";
---

<Layout>
  <section class="text-center mb-12 max-w-2xl mx-auto">
    <h1 class="text-center text-2xl font-medium text-gray-200 mb-2">
      Las imágenes susurran lo que las palabras callan
    </h1>
    <p class="text-center text-sm text-gray-500 mb-6">
      Laboratorio visual · Creación de componentes y prototipos
    </p>
  </section>
  <div class="w-full max-h-[70vh] overflow-y-auto overflow-x-hidden p-4">
	  <VisualGrid />
  </div>
</Layout>
